<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/stylesHome.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Nubank Desktop</title>
</head>
<body>
    <div class="container">
        <div class="menuTop">
            <img src="../public/assets/Nubank_Logo@2x.png" alt="logo">
            <span>Lucas da Silva</span>
        </div>
        <div class="Main">
            <div class="Menu">
                <div class="infor">
                    <img src="../public/assets/qrcode.png" alt="QRcode">
                    <ul>
                        <li><h1>Banco</h1><span>XXX - Nu Pagamentos S.A.</span></li>
                        <li><h1>Agência</h1><span>XXXX</span></li>
                        <li><h1>Conta</h1><span>XXXXXXXX-X</span></li>
                    </ul>  
                </div>
                <div class="list">
                    <ul>
                        <li><button>
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                Me ajuda
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button></li>
                        <li><button>
                            <i class="fa fa-user" aria-hidden="true"></i>
                                Perfil
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button></li>
                        <li><button>
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                Configurar conta
                            <i class="fa fa-angle-right" aria-hidden="true"></i>    
                        </button></li>
                        <li><button>
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                                Configurar cartão
                            <i class="fa fa-angle-right" aria-hidden="true"></i>    
                            </button></li>
                        <li><button>
                            <i class="fa fa-building" aria-hidden="true"></i>
                                Pedir conta PJ
                            <i class="fa fa-angle-right" aria-hidden="true"></i>    
                        </button></li>
                        <li><button>
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                                Configurações do Programa
                            <i class="fa fa-angle-right" aria-hidden="true"></i>    
                        </button></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="status" id="box">
                    <div class="statusContainer">
                        <div class="containerValue">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <h3>FATURA ATUAL</h3>
                            <h1>R$ 2.285,00</h1>
                            <span><h4>Limite disponível</h4><strong>R$ 4.830,00</strong></span>
                        </div>
                        <div class="containerColor">
                            <span class="one"></span>
                            <span class="second"></span>
                            <span class="third"></span>
                        </div>
                    </div>
                    <footer>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Compra mais recente em Cantina Nero no valor de R$ 84,00 hoje</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </footer>
                </div>
                <div class="account" id="box">
                    <header>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </header>
                    <main>
                        <span>Saldo disponível</span>
                        <strong>R$ 20.000,00</strong>
                    </main>
                    <footer>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Compra em Sumup *OlhaOGás de R$ 7,00 no débito em 22 JAN</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </footer>
                </div>
                <div class="rewards" id="box">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <div class="text">
                        <h1><strong>Nubank Rewards</strong></h1>
                        <p>Acumule  pontos quen nunca expiram e troque por passagens aéreas ou serviços que você realmente usa.</p>
                    </div>
                    <button>ATIVE O SEU REWARDS</button>
                </div>
            </div>
        </div>
        <div class="exit">
            <button>Sair da Conta</button>
        </div>
    </div>
</body>
</html>